body{
    background-color: beige;
}
.header_div{
    background-color: rgb(0, 255, 213);
    color: rgb(85, 0, 255);
}
.header_div p{
    font-family: 'Chilanka', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: medium;
}
.header_div h2{
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
}
.main_div button{
    font-family: 'Times New Roman', Times, serif;
    margin-top:10px;
    width: 105px;
    letter-spacing: 2px;
    font-weight: 200;
}
.copy_right_footer{
    position:fixed;
    color:#6c757d;
    bottom:0;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height:3;
    text-align:center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}